<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create New Notification</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" [formGroup]="newNotification">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Link</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3"
                       formControlName="link">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword3" formControlName="tags">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-notifications></app-notifications>
