<div class="col-md-6 col-md-offset-3">
  <form [formGroup]="signupForm" novalidate>
      <div class="form-group">
          <label class="center-block">Email:
            <input class="form-control" formControlName="email">
          </label>
        </div>
        <span class="error-msg" *ngIf="signupForm.controls.email.invalid">This is required</span>
        <div class="form-group">
          <label class="center-block">Phone Number:
            <input class="form-control" formControlName="phoneNumber">
          </label>
          <span class="error-msg" *ngIf="signupForm.controls.phoneNumber.invalid">This is required</span>
        </div>
        <button class="btn btn-md btn-primary" (click)="signUp()">Login</button>
  </form>
</div>