<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Topics to choose from:</h2>
      <div class="tag-list">
        <ul class="list-unstyled">
          <li *ngFor="let tags of model.tags" (click)="addTagsToSubscribe(tags)">{{tags}}</li>
        </ul>
      </div>
    </div>
  </div>
  {{ message | async | json }}
</div>
