/* You can add global styles to this file, and also import other style files */

.tag-list{
  ul{
    li{
      display: inline-block;
      background-color: transparent;
      border: solid 1px #ccc;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }
}
